@font-face {
	font-family: DINPro-Bold;
	src: url('fonts/DIN/DINPro-Bold.otf');
}

@font-face {
	font-family: DINPro-Regular;
	src: url('fonts/DIN/DINPro-Regular.otf');
}



#logo {
  display: block;
	width: 80%;
	padding-left: 5px;
	padding-bottom: 10%;

}

svg {
	fill: #ffffff;
	-webkit-transition: ease 0.2s;
	 transition: ease 0.2s;
}

div.top {
  display: block;
  width: 100%;
  padding-top: 30%;


}

h1 {
  color: #13171a;
  font-size: 34px;
  font-family: DINPro-Regular;
}

h3 {
  color: #697077;
  font-size: 18px;
  font-family: DINPro-Regular;
}

h5 a {
  color: #13171a;
  font-size: 15px;
  font-family: DINPro-Regular;
}

h5 a:hover{
  color: #0062ff;
}

#text-row {
  padding-top: 3%;
}

#contact-text {
  padding-top: 2%;
}

#contact-button {
  margin-top: 45px;
  margin-bottom: 10%;
  height: 45px;
  background: #0062ff;
  width: 170px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-family: DINPro-Bold;
	-webkit-transition: ease 0.2s;
	 transition: ease 0.2s;
}

#contact-button:hover {
	background: #0062ff;
	color: #050505;
	-webkit-transition: ease 0.2s;
	 transition: ease 0.2s;
}

#learn-button {
  margin-top: 45px;
  margin-bottom: 10%;
  height: 45px;
  background: #fff;
	box-shadow: inset 0 0 0 3px #0020ff;
  width: 170px;
  color: #0062ff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-family: DINPro-Bold;
	-webkit-transition: ease 0.2s;
	 transition: ease 0.2s;
}

#learn-button:hover {
	background: #0530ad;
	box-shadow: inset 0 0 0 3px #1c1c1c;
	-webkit-transition:  0.2s;
	 transition: ease 0.2s;
	 color: #fff;
}

#footer-text {
  margin-bottom: : 10%;
  text-align: left;;
}


@media print, screen and (max-width: 1023px) {
	#logo {
		width: 40%;

	}

	}


@media print, screen and (max-width: 600px) {

	#logo {
		width: 70%;

	}

  #footer-text {
    text-align: left;

	}

		h1 {
    font-size: 27px;
		}

    #text-row {
      padding-top: 8%;
    }
		#contact-text {
		  padding-top: 10%;
		}

		.main {
			margin-left: 5%;
			margin-right: 5%;
		}
		.top {
			padding-left: 5%;
			padding-right: 5%;
		}
		div.top {
		  display: block;
		  width: 100%;
		  padding-top: 50%;


		}
  }


	div.middle {
		height: auto;
	  width: 100%;
		background-color: #0062ff;
	  xbackground-image: linear-gradient( 30deg, #0062ff 0%, #000 100%);
	}
