@font-face {
	font-family: DINPro-Bold;
	src: url('fonts/DIN/DINPro-Bold.otf');
}

@font-face {
	font-family: DINPro-Regular;
	src: url('fonts/DIN/DINPro-Regular.otf');
}



body {
  background-color: #fff;
}

#logo {
  display: block;
	width: 50%;

}

div.top {
  background-color: #fff;
  display: block;
  width: 100%;
  padding-top: 12%;
}

h1 {
  color: #000205;
  font-size: 34px;
  font-family: DINPro-Regular;
}

h3 {
  color: #000205;
  font-size: 18px;
  font-family: DINPro-Regular;
}

h5 {
  color: #000205;
  font-size: 12px;
  font-family: DINPro-Regular;
}

#text-row {
  padding-top: 5%;
}

#contact-button {
  margin-top: 45px;
  margin-bottom: 10%;
  padding-top: 12px;
  height: 45px;
  background: #000205;
  width: 170px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-family: DINPro-Bold;
}

#footer-text {
  margin-bottom: : 10%;
  text-align: left;;
}

@media print, screen and (max-width: 600px) {
  #footer-text {
    text-align: left;}
  h1 {
    font-size: 32px;
    }
    #text-row {
      padding-top: 8%;
    }
  }


div.middle {
  height: 10px;
  width: 100%;
  background: #000fff;
}
