@font-face {
	font-family: DINPro-Bold;
	src: url('fonts/DIN/DINPro-Bold.otf');
}

@font-face {
	font-family: DINPro-Regular;
	src: url('fonts/DIN/DINPro-Regular.otf');
}



#logo {
  display: block;
	width: 80%;

}

svg {
	fill: #050505;
	-webkit-transition: ease 0.2s;
	 transition: ease 0.2s;
}

div.top {
  display: block;
  width: 100%;
  padding-top: 12%;
}

h1 {
  color: #000215;
  font-size: 34px;
  font-family: DINPro-Regular;
}

h3 {
  color: #000215;
  font-size: 18px;
  font-family: DINPro-Regular;
}

h5 {
  color: #000215;
  font-size: 12px;
  font-family: DINPro-Regular;
}

#text-row {
  padding-top: 3%;
}

#contact-button {
  margin-top: 45px;
  margin-bottom: 10%;
	margin-left: 1%;
  height: 45px;
  background: #0020ff;
  width: 170px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-family: DINPro-Bold;
	-webkit-transition: ease 0.2s;
	 transition: ease 0.2s;
}

#contact-button:hover {
	background: #daddd8;
	color: #050505;
	-webkit-transition: ease 0.2s;
	 transition: ease 0.2s;
}

#learn-button {
  margin-top: 45px;
  margin-bottom: 10%;
  height: 45px;
  background: #fff;
	box-shadow: inset 0 0 0 3px #0020ff;
  width: 170px;
  color: #0020ff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-family: DINPro-Bold;
	-webkit-transition: ease 0.2s;
	 transition: ease 0.2s;
}

#learn-button:hover {
	background: #1c1c1c;
	box-shadow: inset 0 0 0 3px #1c1c1c;
	-webkit-transition:  0.2s;
	 transition: ease 0.2s;
	 color: #fff;
}

#footer-text {
  margin-bottom: : 10%;
  text-align: left;;
}

@media print, screen and (max-width: 600px) {
  #footer-text {
    text-align: left;}
  h1 {
    font-size: 32px;
    }
    #text-row {
      padding-top: 8%;
    }
  }


	div.middle {
		display: none;
	  height: 10px;
	  width: 100%;
		background-color: #0020ff;
	  xbackground-image: linear-gradient( 45deg, #000FFF 0%, #5000ff 30%, #000 82%, #000 100%);
	}
